etc/ant/reporting/build-stats.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="statistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="tool">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="statistic">
                <xs:complexType>
                  <xs:attribute name="description" type="xs:string" use="required" />
                  <xs:attribute name="text" type="xs:string" use="required" />
                  <xs:attribute name="success" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="root" type="xs:string" use="required" />
            <xs:attribute name="description" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="acceptability" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>